.maindiv{

    background-color: chartreuse;
    border: 10px solid;
    color: darkgreen;
}
 .div1{
     color: darkblue;
     border: 50px;
     padding: 50px;
     b

 }
 h1{
     margin: 90px;
     border: 80px;
     background-color: darkgray;
    
 }
