/* .nav{
    background-color: chartreuse;
} */
li,ul{
    color: crimson;
    
}
div{
    color:red;
}
/* .class{
    color: rgb(rgb(201, 37, 37), rgb(113, 212, 113), rgb(35, 35, 240));
} */
body{
    background-color: rgb(184, 238, 168);
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS87smC9TEBmn6ggJnQQ7RlM8WWglNxFBmypw&usqp=CAU");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-position-x: right;
    
}
.nav{
    border-color: darkgreen;
    border-style: dotted;
}
input{
    color:black;
    border: 7px solid;
    border-color: rgba(20, 20, 19, 0.938);
}