*{
    box-sizing: border-box;
}
html,body{
    overflow-x:hidden;
    height: 100%;
}
body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgb(196, 206, 212);
    background-image: url(https://images.unsplash.com/photo-1494905998402-395d579af36f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTZ8fGNhcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
 background-size: 1000px 550px;
}
.header{
    background-color: rgb(165, 42, 99);
    height: 60px;
    width: 100%;
    padding-left: 31px;
    border-radius:10px;

    /* position: fixed; */
    /* z-index: 10px; */
}
.menu li {
    border-bottom: 5px solid black;
    width: 24%;
    background-color: rgb(183, 183, 240);
    list-style: none;

}
.menu li a {
    text-decoration: none;
    padding: 14px;
    display: block;
    text-transform: uppercase;
    

    
}
.menu{
    padding: 6px;
margin: 0px;
}
a:hover{
    background-color: cornsilk;
    background-image: url(/Chrysanthemum.jpg);
    background-size: cover;
    color: white;
}